html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login-box {
  border-radius: 8px;
  border-left: 4px solid #4154f1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-box .card-title {
  font-size: 1rem;
  color: #4154f1;
}

.login-box .form-control {
  border-radius: 4px;
}

.login-box .btn-login {
  background-color: #4154f1;
  border: none;
}

.login-box .btn-login:hover {
  background-color: #3445c5;
}